<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <title></title>
    </head>
    <body>
        <h1>DEMO</h1>
        <ul>
            <% for(var i=0;i<Student_details.length;i++){ %>
                <li><a href="/Student/<%= Student_details[i].Sid %>"><%= Student_details[i].Sid %></a> -<%= Student_details[i].Username %> </li>
            <% } %>
        </ul>
    </body>
</html>
