<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    </head>
    <body style="background: rgb(238,75,40);">
        <div class="container" style="width:50%;">
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading"><%= message %></h4>
        </div>
    </body>
</html>
