body{
    background: rgb(238,75,40);
    padding: 100px;
    height: 100%;
    color: black;
}

.feedback_emoji{
    color: rgb(238,75,40);
}

.navbar-light .navbar-brand{
    color: rgb(238,75,40);
}

#jumbo{
    background: white;
    border-radius: 50px;
}

.feedback_buttons{
    background-color: transparent; 
    border: none;
}

@media (max-width: 576px){
	/*we want these settings when screen size is below 576 px*/
	#jumbo h1 {
		font-size: 3rem;
	}
}
